# eclipse
bin/
*.launch
.settings/
.metadata/
.classpath
.project

# idea
out/
*.ipr
*.iws
*.iml
.idea/

# gradle
build/
.gradle/

# forge / minecraft runtime
eclipse/
run/
logs/
classes/
/config/
mods/
saves/

# OS junk
.DS_Store
Thumbs.db

# compiled / temp
*.class
*.log
*.jar
*.tmp
*.lock
!gradle/wrapper/gradle-wrapper.jar

# Files from Forge MDK
forge*changelog.txt
